MYSQL_ROOT_PASSWORD=
POSTGRES_USER=

RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_HOST=
RABBITMQ_PORT=

#ms-clients
CLIENT_DB_USERNAME=
CLIENT_DB_PASSWORD=

#ms-account
ACCOUNT_DB_USERNAME=
ACCOUNT_DB_PASSWORD=